/**
 * Styling for the date widget
 * @author Daniel Mestas <dan5446@gmail.com>
 * @netid mestas1
 * @date 13 February 2011
 */

#time { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-style:bold; z-index:2; color:#fff; text-shadow: 1px 1px 5px #000; line-height: 1.1em; }

#date { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:normal; font-size:.5em !important; color:#ccc; text-shadow: 0 -1px 0 #000; font-size: 0.6em; 0 -1px 0 #000; z-index:1; margin-top: 2px; opacity: 0.8;}
