/**
 * Landscape orientation specific styles
 */
@font-face {
	font-family: 'Myriad Pro';
	src: local('☺'), url('../include/GillSansMTPro-Book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
	
.startUp { background-image: url(../images/startup.png); width:100%; height:100%; background-position:center; }

.fullpage {
	box-sizing: border-box;
	margin: 0 auto;
	width: 1024px;
	height: 768px;
	text-align: center;
	background-repeat:repeat-x;
	z-index:-5;
}

.lightbox { width:100%; overflow:hidden; }

.top { 
	height:110px; 
	overflow:hidden; 
	width:100%; 
}

.portalTop {
	height: 160px;
}
 
.middle { 
	height:510px; 
	overflow:hidden; 
	width:100%; 
}

.portalMiddle {
	height:460px; 
}

.bottom { 
	height:148px; 
	overflow:hidden; 
	width:100%; 
}

.threeColumnLeft, .threeColumnRight {
	width:360px;
	position:relative;
}

.threeColumnLeft {
	float:left;
}

.threeColumnRight {
	float:right;
}

.threeColumnMiddle { 
	margin-right:360px; 
	margin-left:360px; 
	height:100%;
	position:relative;
}
