/**
 * Portal Page specific styles
 */
#portal { width:1024px; height:768px; }
.steelGradient { -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(0.45,rgba(0,0,0,1)), to(rgba(0,0,0,0.2))); }
#portalLogo { height:80px; background: url(../images/logo3.png) no-repeat; background-position:center; padding:10px 0 10px 0; margin:5px 0 -5px 0;}
#portalAltn { height:80px; background: url(../images/logo3.png) no-repeat; background-position:center; padding:10px 0 10px 0; margin:20px 0 -5px 0;}
.portalView { position:absolute; }
.inactive { display:none; }
.floatRight { float:right; }
.floatLeft { float:left; }
.centered { margin:0 auto; }
.hfill { height:100%; }
.wfill { width:100%; }
.notext { text-indent: -9999px; }
.icon { font-size:15px; line-height:40px; }
.iconBox { width:120px; }
.iconSpacer { width:212px; }

.portalButton { width:83px; height:83px; border-radius:83px; margin:auto; margin-top: 1.4em; }
.buttonset { overflow:none; width: 140px;}

.graphContainer { position:relative; }
.indicators { width:84px; height:22px; position:relative; margin:0 auto; }
.indicator { width:9px; height:9px; border-radius:9px; background-color:#444; margin:6px; }
.indicating { background-color:#777 !important; -webkit-box-shadow: 0 0 4px 0 #eee; }
.leftArrow { width:100px; }
.rightArrow { width:100px; }
.centerGraphViewPort { width:800px; height:400px; margin:30px 12px 0px 12px; }
.centerGraphLandscape { width:4800px; height:400px; margin-left:0px; }
.landscape {-webkit-transition:margin-left 0.5s ease-in-out; }
#portal-graph-0, #portal-graph-1, #portal-graph-2, #portal-graph-3, #portal-graph-4, #graphic5, #graphic6 {  height:400px; width:800px; }

.graphicButton { font-size:1.5em; height:480px; line-height:480px; color: #222; text-shadow: 1px 1px 0px #333, -1px -1px 0px #000;  }
.headTemp { padding:10px; width: 90px; margin:20px; margin-top:20px; color:#eee; background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.4))); -webkit-border-radius: 10px;}
.headTemp h1 { font-size:25px;}
.infoTemp { font-size:15px; padding-bottom:0px; color:#FFF000;}
#efficiencyGraphic { font-size:20px; padding-left:30px; }
.portalButton { background-repeat:none; background-image:url(../images/portalButtons.png); }
.infoLink { background-position-x:0px; }
.waterLink { background-position-x:180px; }
.monitorLink { background-position-x:90px; }
.hvacLink { background-position-x:360px; }
.solarLink { background-position-x:270px; }
.portalButton:hover { background-position-y:90px; }
