.s1  { background: -webkit-gradient(linear, left top, right top, from(#360209), to(#400d0a)); }
.s2  { background: -webkit-gradient(linear, left top, right top, from(#400d0a), to(#4c1c09)); }
.s3  { background: -webkit-gradient(linear, left top, right top, from(#4c1c09), to(#5c2f08)); }
.s4  { background: -webkit-gradient(linear, left top, right top, from(#5c2f08), to(#6c4307)); }
.s5  { background: -webkit-gradient(linear, left top, right top, from(#6c4307), to(#7d5906)); }
.s6  { background: -webkit-gradient(linear, left top, right top, from(#7d5906), to(#8d6f04)); }
.s7  { background: -webkit-gradient(linear, left top, right top, from(#8d6f04), to(#9c8203)); }
.s8  { background: -webkit-gradient(linear, left top, right top, from(#9c8203), to(#ab9502)); }
.s9  { background: -webkit-gradient(linear, left top, right top, from(#ab9502), to(#b5a502)); }
.s10 { background: -webkit-gradient(linear, left top, right top, from(#b5a502), to(#bdb402)); }
.s11 { background: -webkit-gradient(linear, left top, right top, from(#bdb402), to(#c1bd02)); }
.s12 { background: -webkit-gradient(linear, left top, right top, from(#c1bd02), to(#bcbf02)); }
.s13 { background: -webkit-gradient(linear, left top, right top, from(#bcbf02), to(#aab905)); }
.s14 { background: -webkit-gradient(linear, left top, right top, from(#aab905), to(#92ad08)); }
.s15 { background: -webkit-gradient(linear, left top, right top, from(#92ad08), to(#789e0c)); }
.s16 { background: -webkit-gradient(linear, left top, right top, from(#789e0c), to(#56890f)); }
.s17 { background: -webkit-gradient(linear, left top, right top, from(#56890f), to(#387612)); }
.s18 { background: -webkit-gradient(linear, left top, right top, from(#387612), to(#216815)); }
.s19 { background: -webkit-gradient(linear, left top, right top, from(#216815), to(#146017)); }
.s20 { background: -webkit-gradient(linear, left top, right top, from(#146017), to(#135e16)); }
